nextflow.enable.dsl = 2

params {
  outdir = "results"
  // default user params can live here too if you want
}

workDir = "/hps/nobackup/flicek/ensembl/compara/sbhurji/Development/ECHO_project/nextflow_results/work"

profiles {

  local {
    process.executor = "local"
    process.shell    = ["/bin/bash", "-ueo", "pipefail"]

    // keep local tiny
    process.cpus   = 1
    process.memory = "4 GB"
    process.time   = "1h"
  }

  slurm {

    process.executor = "slurm"
    process.shell    = ["/bin/bash", "-ueo", "pipefail"]

    /*
     * Global defaults + automatic retries (applies to ALL processes unless overridden)
     */
    process {
      cpus = 1

      // retry up to 3 times then fail
      errorStrategy = { task.attempt <= 3 ? 'retry' : 'terminate' }
      maxRetries    = 3

      // baseline resources and per-attempt ramp
      memory = { 16.GB * task.attempt }   // 16, 32, 48 GB
      time   = { 2.h  * task.attempt }    // 2, 4, 6 hours
    }

    /*
     * Heavy step overrides
     */
    process {
      withName:RUN_MMSEQS {
        cpus   = 16
        memory = { 64.GB * task.attempt }  // 64, 128, 192 GB
        time   = { 12.h * task.attempt }   // 12, 24, 36 h
      }

      // input parsing can spike RAM (your exit 137)
      withName:PARSE_INPUT_FASTA {
        cpus   = 4
        memory = { 32.GB * task.attempt }  // 32, 64, 96 GB
        time   = { 4.h  * task.attempt }   // 4, 8, 12 h
      }

      // parquet-heavy / duckdb-heavy steps (tune as you see behavior)
      withName:PARSE_CLUSTERS {
        cpus   = 4
        memory = { 32.GB * task.attempt }
        time   = { 6.h  * task.attempt }
      }

      withName:PROCESS_CLUSTERS {
        cpus   = 2
        memory = { 16.GB * task.attempt }
        time   = { 2.h  * task.attempt }
      }

      withName:CLOSEST_RELATIVES_CHUNK {
        cpus   = 2
        memory = { 16.GB * task.attempt }
        time   = { 4.h  * task.attempt }
      }
      withName:MAKE_DIAGNOSTICS {
        cpus   = 2
        memory = { 16.GB * task.attempt }
        time   = { 4.h  * task.attempt } 
      }
    }
  }
}

